<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">



    <!--开启spring mvc对于注解的支持-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <context:component-scan base-package="com.sz.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <bean id="thymeleafViewResolver" class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="characterEncoding" value="utf-8"></property>
        <property name="templateEngine" ref="springTemplateEngine"></property>
    </bean>

    <!--设置模板-->
    <bean id="springTemplateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="servletContextTemplateResolver" ></property>
    </bean>

    <!--配置视图解析器,thymeleaf-->
    <bean id="servletContextTemplateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <constructor-arg ref="servletContext"></constructor-arg>   <!--构造注入-->
        <property name="prefix" value="/WEB-INF/templates/"></property>
        <property name="order" value="1"></property>
        <property name="suffix" value=".html"></property>
        <property name="templateMode" value="HTML5"></property>
        <property name="cacheable" value="false"></property>  <!--页面不缓存-->
        <property name="characterEncoding" value="utf-8"></property>
    </bean>


    <!--设置前端控制器那些资源不拦截-->
    <mvc:resources mapping="/js/**" location="/js/"></mvc:resources>

    <!--配置文件解析器-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="maxUploadSize" value="122222254"></property>&lt;!&ndash;设置最大上传文件大小&ndash;&gt;-->
    <!--</bean>-->

    <!--    配置异常处理器-->
    <!--    <bean id="SysexceptionResolver" class="com.nanchang.exception.SysexceptionResolver"></bean>-->


    <!--配置拦截器-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/interception/*"/> &lt;!&ndash;表示配置的拦截路径&ndash;&gt;-->
            <!--&lt;!&ndash;            <mvc:exclude-mapping path=""/>表示配置不拦截的路径，和上面的二选一即可&ndash;&gt;-->
            <!--<bean class="com.nanchang.interpetor.Handlerinterpetor"></bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

</beans>